@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Noto+Sans+KR:wght@100..900&display=swap');

*{
    padding: 0; margin: 0;
    box-sizing: border-box;
    _border: 1px solid;
}

body{
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 800;
}
input{
    outline: none;
}
.center{
    width: 100%;
    max-width: 1028px;
    margin: auto;
}

header{
    padding:2rem 1rem;
    letter-spacing: .2em;
}

header h1{
    text-align: center;
    font-family: "Cal Sans", sans-serif;
}

.input-box{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    text-align: center;
    _gap:.75rem;
}

.input-box>input{
    width: 70%;
    height: 3rem;
    padding: 15px;
    font-size: 24px;
    border-radius: 0;
}



.submit-btn{
    font-size: 23px;
    width: 30%;
    height: 3rem;
    background-color: #333;
    color : #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit-btn:hover{
    background: #444;
    color: #eee;
}


/* list */

ul{
    position: relative;
}

.todo-box-list:after{
    content: "";
    width: 100%;
    height: 2px;
    background: #333;
    position:absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}

ul{
    list-style: none;
    _overflow: hidden;
}
li{
    height: 2.7rem;
    position: relative;
}
li.delete{
    display: none;
}
.todo-box{
    display: flex;
    width: 100%;
    
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
    padding: 5px 15px;
    position: relative;
}
.todo-box .ui i{
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#template{
    display: none;
}
.btn{
    width: 8rem;
    display: flex;
    justify-content: center;
}
.btn div{
    width: 50%;
    transition: all .3s ease;
}

.btn div:hover{
    color : #333;
    background: #ddd;
}
.todo-box .ui{
    min-width: 215px;
    display: flex;
    align-items: center;
    gap:.75rem;
}

.todo-box .text{
    text-wrap-mode:nowrap;
    overflow: hidden;
}

.list{
    height: 100%;
}

.done-list .todo-box{
    background: #bbb;
}


.delete-anim{
    transition: all .2s;
    opacity: 0;
}

.move-out-anim>div{
    animation-name: move-out;
    animation-duration: .3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.move-in-anim>div{
    animation-name: move-out;
    animation-duration: .3s;
    animation-iteration-count: 1;
    animation-fill-mode:backwards;
    animation-direction: reverse;
}

.editor{
    position:fixed;
    left: 0;
    top:0;
    width: 100%;
    height: 100vh;
    background: #3333;
    z-index: 999;
    /* display: none; */
    display: none;
}

.editor.active{
    display: flex;
}

.editor>div>p{
    text-align: center;
    font-size: 1.5rem;
}

.editor>div{
    position: absolute;
    width: 20rem;
    top:30%;
    left:50%;
    transform: translate(-50%,-50%);
    background: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.editor .inputs>input{
    height: 1.5rem;
}
.editor .btns{
    display: flex;
    justify-content: space-between;
    gap: .5rem;
}

.editor .btns>div{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: #eee;
    font-size: 1.5rem;
}

.editor .btns>div:hover{
    background: #444;
    color: #eee;
}

@keyframes move-out {
    0%{
        opacity: 100%;
        left: 0;
    }
    60%{
        opacity: 100%;
    }
    100%{
        opacity: 0%;
        left: -100%;
    }
}

@media (max-width: 650px){
    .input-box{
        flex-direction: column;
    }
    .input-box>input, .input-box>div{
        width: 100%;
    }

    .editor>div{
        width: 100%;
    }
    .editor .inputs{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: .5rem;
    }
    .editor .inputs input{
        border-radius: 0;
        border: 1px solid;
        width: 100%;
        height: 2rem;
        padding: .25rem;
    }
}