*{
    padding: 0; margin: 0;
    box-sizing: border-box;
}

*{
    _border: 1px solid;
}


.center{
    width: 100%;
    max-width: 1028px;
    margin: auto;
}

header h1{
    text-align: center;
}

.input-box{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    text-align: center;
    _gap:.75rem;
}

.input-box>input{
    width: 70%;
    height: 3rem;
    padding: 15px;
    border-radius: 0;
}

.submit-btn{
    width: 30%;
    height: 3rem;
    background-color: #333;
    color : #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-box-list{
    padding: 10px;
}
ul{
    margin-left: 30px;
}
.todo-box{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
    padding: 5px;
}

.template{
    display: none;
}

.todo-box i{
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-box .ui{
    min-width: 215px;
    display: flex;
    align-items: center;
    gap:.75rem;
}

.todo-box .text{
    text-wrap-mode:nowrap;
    overflow: hidden;
}